.h{
    width: 100%;
    height: 80vh;

background-color: white;
}
body{
   background-color:#f4f5f5;

}
.t-body{
    background-color: #0f172a;
}
.t-container{
    background-color: #1e293b;
    color: #686b8e;
}
.b-container{
height: 100%;

}

.history{
    height: 80%;
    width: 25%;
    overflow: scroll;
}
.write{
    width: 90%;
    height: 50%;
}
.i-write{
    height: 100%;
}
.button{
    justify-self: end;
}
.theme{
    background-color: #2b3b5f;
    color: #f5f5f5;
}
.x{
    background-color: #2b3b5f;
    display: flex;
    flex-direction: column;
}
